.coursetitle{
   -fx-background-color: #BCE2F4;
}

.coursecode {
    -fx-background-color: #76C7EB;
}

.hbox{
    -fx-background-color: #E1FCFD;
}
.vbox1{
    -fx-background-color: #B9D6ED;
}
.vbox2{
    -fx-background-color: #DDEDF4;
}7